* {
  margin: 0;
  padding: 0;

}

body {
  width: 100%;

}

header {
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(130, 0, 237);
  background: linear-gradient(
    90deg,
    rgba(130, 0, 237, 1) 0%,
    rgba(179, 0, 255, 1) 100%
  );
  padding: 1em;
  margin-bottom: 2em;
}

form {
  font-size: 3vh;  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#mailText {
  margin-right: 1em;
}

#mail {
  width: 15em;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 2em;
  height: 3em;
  text-align: center;
  border-radius: 0.2em;
  border-width: 0.1em;
}

input:valid {
  background-color: rgba(0, 128, 0, 0.384);
}

input:invalid {
  background-color: rgba(255, 0, 0, 0.151);
}

.val {
  width: 15em;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 2em;
  height: 3em;
  text-align: center;
  border-radius: 0.2em;

}

.lineBreak {
  border-top-style: solid;
  border-width: 0.1em;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  border-color: rgb(0, 0, 0);
  margin-bottom: 0.5em;
}

footer{
  position: fixed;
  text-align: center;
  padding: 0.5em;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(130, 0, 237);
  background: linear-gradient(
    90deg,
    rgba(130, 0, 237, 1) 0%,
    rgba(179, 0, 255, 1) 100%
  );
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.teknikCiv, .teknikSpel, .Estet, .El {
  padding: 10px;
  border: none;
  background-color: rgb(100, 51, 192);
  color: white;
  font-size: 18px;
  width: 10em;
  margin: 0.2em;
  border-radius: 0.2em;
}
.teknikCiv:hover, .teknikSpel:hover, .Estet:hover, .El:hover {
background-color: rgb(71, 71, 209);
  transition-duration: 600ms;

}

.div-visible-civ {
  display: none;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: rgba(152, 100, 235, 0.089);
  margin-top: 1em;
  font-size: 2.5vh;
  font-weight: 500;
}

.skriv {
  display: block;
  margin-top: 4em;
}

.ett, #två {
  display: none;
  width: 40%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#två:focus{
  height: 20em;
  font-size: 2vh;
}

.checkFlexContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  width: 15em;
  justify-content: center;
  
}

.checkboxEttText {
  font-size: 2vh;
  margin-top: -2.1em;
  margin-left: 4em;
  cursor: default;
}

input.checkboxEttwebb, input.checkboxEttdao,  
input.checkboxEttfys, input.checkboxEttmat, 
input.checkboxEttpro, input.checkboxEttsve {
  width: 3vh; 
  height: 3vh;
  margin: 1em;

}

input.checkboxEtt:hover {
  width: 3.1vh; 
  height: 3.1vh;
  cursor: pointer;
}

#OBS {
  display: block;
  font-size: 1.5vh;
  margin-top: 2em;
  color: rgba(243, 0, 0, 0.418);
}


